<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.appodeal.startapp.unity">
<uses-sdk android:minSdkVersion="9" android:targetSdkVersion="23" />
<application>
<!-- Startapp -->
<activity android:name="com.startapp.android.publish.ads.list3d.List3DActivity"
	android:theme="@android:style/Theme" />
<activity android:name="com.startapp.android.publish.adsCommon.activities.OverlayActivity"
	android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
	android:configChanges="orientation|keyboardHidden|screenSize" />
<activity android:name="com.startapp.android.publish.adsCommon.activities.FullScreenActivity"
	android:theme="@android:style/Theme"
	android:configChanges="orientation|keyboardHidden|screenSize" />
<service android:name="com.startapp.android.publish.common.metaData.PeriodicMetaDataService" />
<service android:name="com.startapp.android.publish.common.metaData.InfoEventService" />
<receiver android:name="com.startapp.android.publish.common.metaData.BootCompleteListener" >
	<intent-filter>
		<action android:name="android.intent.action.BOOT_COMPLETED" />
	</intent-filter>
</receiver>
<!-- End Startapp -->
</application> 
</manifest>
