<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adcolony.adcolonysdk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23"
        tools:overrideLibrary="android.support.v7.appcompat,       com.google.android.gms.gcm,       com.google.android.gms.ads.impl,       android.support.graphics.drawable.animated,       android.support.graphics.drawable,       com.google.android.gms.iid,       com.google.android.gms.base,       com.google.android.gms.ads,       com.google.android.gms.gass,       com.google.android.gms.tasks,       com.google.android.gms,       android.support.fragment,       android.support.coreutils,       android.support.coreui,       android.support.compat,       com.google.android.gms.gcm.license,       com.google.android.gms.admob.impl.license,       com.google.android.gms.base.license,       com.google.android.gms.common.license,       com.google.android.gms.iid.license,       com.google.android.gms.admob.license,       com.google.android.gms.gass.license,       android.arch.lifecycle,       com.google.android.gms.tasks.license" />

	<application>
    	<activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity" android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.adcolony.sdk.AdColonyAdViewActivity" android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"/>
    </application>

</manifest>