<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adcolony.adcolonysdk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="25" />

    <application>
    	<!-- Adcolony -->
		<activity android:name="com.jirbo.adcolony.AdColonyOverlay"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
		<!--suppress AndroidDomInspection -->
		<activity android:name="com.jirbo.adcolony.AdColonyFullscreen"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
		<!--suppress AndroidDomInspection -->
		<activity android:name="com.jirbo.adcolony.AdColonyBrowser"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
		<activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity" android:configChanges="keyboardHidden|orientation|screenSize"
			android:hardwareAccelerated="true"/>
		<activity android:name="com.adcolony.sdk.AdColonyAdViewActivity" android:configChanges="keyboardHidden|orientation|screenSize"
			android:hardwareAccelerated="true"/>
		<!-- End Adcolony -->
    </application>

</manifest>