<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.applovin.unity" >
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="23" />
    <application>
		<activity android:name="com.applovin.adview.AppLovinInterstitialActivity"
		          android:configChanges="orientation|screenSize"/>
		<activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />
        <activity
            android:name="com.unity3d.player.VideoPlayer"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>
        <meta-data
            android:name="applovin.sdk.key"
            android:value="YOUR_SDK_KEY" />
    </application>

	<!-- These permissions are mandatory to run AppLovin SDK -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<!-- These permissions are strongly recommended and will result in higher performance -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>
