<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.appodeal.yandexmetrica.unity">
    <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="27"/>
    <application>
        <!-- Yandex-metrica -->
        <service
                android:name="com.yandex.metrica.MetricaService" android:enabled="true"
                android:exported="true" android:process=":Metrica" tools:ignore="ExportedService">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.yandex.metrica.IMetricaService"/>
                <data android:scheme="metrica"/>
            </intent-filter>
            <meta-data
                    android:name="metrica:api:level"
                    android:value="85"/>
        </service>
        <service
                android:name="com.yandex.metrica.ConfigurationService" android:enabled="true"
                android:exported="false" android:process=":Metrica" tools:ignore="ExportedService">
            <meta-data
                    android:name="metrica:configuration:api:level" android:value="3"/>
            <intent-filter>
                <action android:name="com.yandex.metrica.configuration.ACTION_INIT"/>
            </intent-filter>
        </service>
        <service
                android:name="com.yandex.metrica.ConfigurationJobService" android:enabled="true"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:process=":Metrica">
        </service>
        <receiver
                android:name="com.yandex.metrica.MetricaEventHandler" android:enabled="true"
                android:exported="true" tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name="com.yandex.metrica.ConfigurationServiceReceiver" android:enabled="true"
                android:exported="true" android:process=":Metrica" tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.yandex.metrica.configuration.service.PLC"/>
            </intent-filter>
        </receiver>
        <!-- End Yandex-metrica -->
    </application>
</manifest>
