<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.appodeal.applovin.unity">
    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="27"/>
    <application>
        <!-- Applovin -->
        <activity
                android:name="com.applovin.adview.AppLovinInterstitialActivity"
                android:configChanges="orientation|screenSize"/>
        <activity
                android:name="com.applovin.adview.AppLovinConfirmationActivity"
                android:configChanges="orientation|screenSize"/>
        <activity
                android:name="com.applovin.sdk.AppLovinWebViewActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"/>
        <!-- End Applovin -->
    </application>
</manifest>
