<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.appodeal.appodeal.unity">

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="27"/>

    <application android:allowBackup="true" android:networkSecurityConfig="@xml/network_security_config">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity android:name="com.appodeal.ads.InterstitialActivity"
                  android:configChanges="orientation|screenSize"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.appodeal.ads.VideoActivity"
                  android:configChanges="orientation|screenSize"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.appodealx.mraid.MraidActivity"
                  android:configChanges="orientation|screenSize"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.appodeal.ads.VideoPlayerActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <receiver android:name="com.appodeal.ads.AppodealPackageAddedReceiver" android:exported="true"
                  android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.appodeal.ads.TestActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity android:name="com.appodeal.iab.vast.activity.VastActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name="com.appodeal.ads.networks.vpaid.VPAIDActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!--optional-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!--optional-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!--optional-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!--optional-->
    <uses-permission android:name="android.permission.VIBRATE"/><!--optional-->

</manifest>
