<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.appodeal.yandexmobileads.unity">
<uses-sdk android:minSdkVersion="9" android:targetSdkVersion="23" />
<application>
<!-- Yandex-mobileads -->
		<activity android:name="com.yandex.mobile.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
<!-- End Yandex-mobileads -->
</application>
</manifest>
