<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.appodeal.tapjoy.unity">
    <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="27"/>
    <application>
        <!-- Tapjoy -->
        <activity
                android:name="com.tapjoy.TJAdUnitActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity
                android:name="com.tapjoy.TJContentActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- End Tapjoy -->
    </application>
</manifest>
