<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.appodeal.startapp.unity">
    <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="27"/>
    <application>
        <!-- Startapp -->
        <!--suppress AndroidDomInspection -->
        <activity android:name="com.startapp.android.publish.ads.list3d.List3DActivity"
                  android:theme="@android:style/Theme"/>

        <activity android:name="com.startapp.android.publish.adsCommon.activities.OverlayActivity"
                  android:theme="@android:style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name="com.startapp.android.publish.adsCommon.activities.FullScreenActivity"
                  android:theme="@android:style/Theme"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>

        <service android:name="com.startapp.android.publish.common.metaData.PeriodicMetaDataService"/>
        <service android:name="com.startapp.android.publish.common.metaData.InfoEventService"/>
        <service android:name="com.startapp.android.publish.common.metaData.PeriodicJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver android:name="com.startapp.android.publish.common.metaData.BootCompleteListener">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <!-- End Startapp -->
    </application>
</manifest>
